*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header{
    background-color: #1A0B2E;
}
nav{
    max-width: 2100px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    height: 92px;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
.logo{
    color: #FFFFFF;
}
.linear-color{
    background: linear-gradient(45deg, #F7E93F,#FB09B4,#9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.btn{
    border-radius: 10000px;
    width: 135px;
    height: 44px;
    padding: 12px 16px;
    background: linear-gradient(45deg, #F7E93F,#FB09B4,#9100F8);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
}